# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
  pull_request:
    
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - run: docker-compose build client_dev
    - run: docker-compose run client_dev npm test

    - uses: codecov/codecov-action@v1
      if: github.event_name == 'push'
      with:
        directory: ./client/coverage/
      #   token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
      #   file: ./coverage.xml # optional
      #   files: ./coverage1.xml,./coverage2.xml # optional
      #   flags: unittests # optional
      #   name: codecov-umbrella # optional
      #   fail_ci_if_error: true # optional (default = false)
